/* styles.css */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 5%, rgba(0, 212, 255, 1) 100%);
}

h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  padding: 10px;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 89vw;
  background-color: white;
}

h2 {
  font-size: 1.5rem;
  margin: 15px 0px 30px 0px;
}

.genero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  box-sizing: border-box;
  gap: 11px;
  margin-left: 5px;
}

.cartel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  width: 200px;
  opacity: .75;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  /*margin: 15px 0px;*/
  transition: all .15s linear;
}

.cartel img {
  border-radius: 10px;
}

.cartel p {
  text-align: center;
}

.oculto {
  display: block;
  visibility: hidden;
  margin-top: 0px;
  font-weight: 300;
  font-size: 12px;
}

.cartel:hover  {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.35);
  transition: all .15s linear;
  cursor: pointer;
}

.cartel:hover .oculto {
  visibility: visible;
}

